<style type="text/css">
 
    #share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
    }
     
    </style>

<div id="share-buttons"> share with your network: 
    
    
    <!-- Email -->
    <a href="mailto:?Subject=Take%20a%20look%20at%20Job%20Support%20Club &amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://jobsupport.club">
        <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
    </a>
 
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u=https://jobsupport.club" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>
    

    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://jobsupport.club" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
    </a>
    
  
    <!-- Twitter -->
    <a href="https://twitter.com/share?url=https://jobsupport.club&amp;text=Job%20Support%20Club&amp;hashtags=jobsupportclub" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
    </a>
    
</div>