<div class="w3-container" style="width: 800px; height: 1000px;">
    <div class="w3-bar w3-black">
      <button class="w3-bar-item w3-button tablink w3-red" onclick="openCity(event,'Candor.co')">Candor.co</button>
      <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'1point3acres')">1point3acres</button>
      <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'Layoffs.fyi')">Layoffs.fyi</button>
      <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'Blind')">Blind</button>
    </div>

    <div id="Candor.co" class="w3-container w3-border city">
      <p>Disclaimer: user generated submissions, not verified by Candor nor JobSupportClub</p>
      Please
      <a href="https://candor.co/hiring-freezes">submit company information here</a>
      <iframe title="Hiring freezes by company" src="https://airtable.com/embed/shrpj2r4Kjc4YoMu4?backgroundColor=transparent&amp;viewControls=on" frameborder="0" width="100%" height="1000"></iframe>
    </div>
  
    <div id="1point3acres" class="w3-container w3-border city" style="display:none">
      <p><a href="https://airtable.com/shrcdoUXqtB04nz1a">submit information here. </a></p>
      <iframe class="airtable-embed" src="https://airtable.com/embed/shrIib7TEgbX2TAYO?backgroundColor=cyan&amp;viewControls=on" frameborder="0" width="100%" height="1000"></iframe>
    </div>
  
    <div id="Layoffs.fyi" class="w3-container w3-border city" style="display:none">
        <p>Layoffs.fyi</p>
        <iframe class="airtable-embed" src="https://airtable.com/embed/shrqYt5kSqMzHV9R5?backgroundColor=green&amp;viewControls=on" frameborder="0" width="100%" height="1000"></iframe>
    </div>

    <div id="Blind" class="w3-container w3-border city" style="display:none">
      <p>Blind</p>
      <iframe width='850' height='1000' frameborder='0' scrolling='no' src='https://docs.google.com/spreadsheets/d/1HvI7axSIXsQRQH0IJ2GGCyMvffBbWm8J9OUDyop8MOg/edit#gid=899301194'>&range=A1:G33&widget=false&chrome=false</iframe>
    </div>

  
  <script>
  function openCity(evt, cityName) {
    var i, x, tablinks;
    x = document.getElementsByClassName("city");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " w3-red";
  }
  </script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</div>